@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Verdana, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  @apply text-blue-700 dark:text-blue-400 hover:underline;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  @apply text-3xl font-semibold;
}

h2 {
  @apply text-2xl font-semibold;
}

h3 {
  @apply text-xl font-semibold;
}

h4 {
  @apply text-xl font-medium;
}

h5 {
  @apply text-base font-normal;
}

h6 {
  @apply text-base font-normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Whyte, sans-serif;
  @apply text-blue-800 dark:text-white;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 10px;
  font: 14px sans-serif;
  color: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.tooltip p {
  padding: 0;
  margin: 0;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .tooltip {
    padding: 2px;
  }

  .tooltip p {
    font-size: smaller;
  }
}

.toggle-switch::after {
  content: '';
  @apply h-6 w-6 rounded-full bg-blue-700 dark:bg-gray-400 absolute left-0 transform scale-90 duration-200;
}

.toggle-switch:checked::after {
  @apply transform scale-90 translate-x-6;
}
